 ul{
   list-style-type: none;
 }
 *{
   text-decoration: none;
 }
 ul{
   display: flex;
 }
 li{
   margin-left:20px;
 }
 table,tr,td{
   border:1px solid black;
   border-collapse: collapse;
 }
 table{
   text-align: center;
   width:90%;
   margin-left:20px;
 }
 button{
   margin:10px;
 }
 .update-model{
  border:1p solid red;
  background-color: grey;
  width:80%;
  min-height:10vh;
  margin-left:20px;
}

